@font-face {
  font-family: "medium";
  src: url("Aeonik-Medium.ttf");
}

@font-face {
  font-family: "regular";
  src: url("Aeonik-Regular.ttf");
}

@font-face {
  font-family: "light";
  src: url("Aeonik-Light.ttf");
}

@font-face {
  font-family: "bold";
  src: url("Aeonik-Bold.ttf");
}

@font-face {
  font-family: "inconsolata";
  src: url("Inconsolata-Light.ttf");
}

.mapboxgl-ctrl-bottom-left {
    display: none !important;
}

* {
  --height: 150px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: regular;
  background-color: white;
  max-width: 100%;
  overflow-x: hidden;
}

#map {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.marker {
  /* background: red; */
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  /* border: 2px solid red; */
  transition: 0.2s background;
}

#IPV {
  background-image: url(pinIPV.png);
  height: var(--height);
  width: calc(var(--height) * 1.57);
  border-radius: 0;
  border: none;
  margin-top: calc(var(--height) / -2);
}

#OVP {
  background-image: url(pinOVP.png);
  height: var(--height);
  width: calc(var(--height) * 1.57);
  border-radius: 0;
  border: none;
  margin-top: calc(var(--height) / 2);
}

#GDS {
  background-image: url(pinGDS.png);
  height: var(--height);
  width: calc(var(--height) * 1.57);
  border-radius: 0;
  border: none;
  margin-top: calc(var(--height) / -2);
}

#CGN {
  background-image: url(pinCGN.png);
  height: var(--height);
  width: calc(var(--height) * 1.57);
  border-radius: 0;
  border: none;
  margin-top: calc(var(--height) / -2);
}

#GDA {
  background-image: url(pinGDA.png);
  height: var(--height);
  width: calc(var(--height) * 1.57);
  border-radius: 0;
  border: none;
  margin-top: calc(var(--height) / 2);
}

.tracce {
  background: #EFD9D9;
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #CA999C;
  transition: 0.2s all;
  animation: 0.2s all;
}

.tracce:hover {
  width: 25px;
  height: 25px;
  transition: 0.2s all;
  animation: 0.2s all;
}

.noise {
  background-image: url(noise.png);
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  position: fixed;
  pointer-events: none;
  mix-blend-mode: multiply;
  opacity: 0.75;
}

/* .marker:hover {
  background: transparent;
} */
#details {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid white;
  color: white;
  padding: 11px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 50px;
  cursor: pointer;
  transition: 0.2s all;
  margin-right: 50px;
  padding-right: 0;
  margin-left: 50px;
  padding-left: 0;
  width: calc(100% - 100px);
  text-align: left;
  clear: both;
  margin-top: 50px;
  margin-bottom: 20px;
}
/*
#details:hover {
  background: white;
  color: black;
} */

#details:after {
  content: url('arrow_small.png');
  float: right;
}

#sidebar {
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: calc(50% + 85px);
  transform: translateX(100%);
  top: 0;
  bottom: 0;
  right: 0;
  background: #e7c6c6;
  transition: 0.2s all;
  animation: 0.2s all;
  overflow: auto;
  /* max-width: 500px; */
}

#sidebar h1 {
  font-family: medium;
  line-height: 1;
  font-size: 95px;
  color: black;
  padding-left: 50px;
  padding-top: 250px;
  margin-top: 0;
  max-width: 70%;
}

#sidebar h2 {
  display: none;
  position: fixed;
  font-family: inconsolata;
  font-size: 32px;
  top: 5.3vh;
  right: 2vw;
  color: #efd9d9;}

#sidebar p {
  font-family: regular;
  color: black;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 0;
  max-width: 90%;
  font-size: 25px;
}

#sidebar img {
  max-width: calc(100% - 40px);
  padding-left: 50px;
  max-width: 50%;
  margin-right: calc(50% - 50px);
}

#sidebar #imgT {
  padding: 0;
  max-width: 33vw;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 0;
}

#close {
  color: black;
  font-size: 50px;
  font-weight: 100;
  position: fixed;
  right: -62.45px;
  top: 7vh;
  padding: 0px 18px 7px;
  cursor: pointer;
  background: #e7c6c6;
  font-family: light;
}

#sidebar #render {
  width: 100%;
  height: 80vh;
  margin-top: -45vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  float: right;
  margin-bottom: 50px;
}

.swiper-container {
    width: 100%;
    margin: 40px 0;
    padding: 45px 0;
}

.swiper-slide {
    opacity: 1;
    overflow: hidden;
    transition: .7s;
}

.swiper-slide img {
    width: 100%;
    max-width: 80% !important;
    margin-right: calc(50% - 50px) !important;
    padding: 0 !important;
}

.swiper-slide-active {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}

#loader {
  background: #e7c6c6;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100vw;
  height: 100vh;
}

@keyframes closeIn {
  0% {
    right: -62.45px;
  }

  100% {
    right: calc(50% + 85px);
  }
}

@keyframes closeOut {
  0% {
    right: calc(50% + 85px);
  }

  100% {
    right: -62.45px;
  }
}

@keyframes closeS-Out {
  0% {
    right: 33vw;
    background: #172424;
    color: white;
  }

  100% {
    right: -62.45px;
    color: black;
    background: #e7c6c6;
  }
}

@keyframes closeShort {
  0% {
    right: calc(50% + 85px);
    color: black;
    background: #e7c6c6;
  }

  100% {
    right: 33vw;
    color: white;
    background: #172424;
  }
}

@keyframes closeLong {
  0% {
    right: 33vw;
    color: white;
    background: #172424;
  }

  100% {
    right: calc(50% + 85px);
    color: black;
    background: #e7c6c6;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes mapOut {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-25%);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes mapIn {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(0%);
  }
}

.content {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: transparent;
  overflow: hidden;
  max-width: 100vw !important;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url(normale.png);
  background-size: auto 100vh;
  background-repeat: no-repeat;
  background-position-x: 50%;
}

#spotlight {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  background-size: auto 100vh;
  background-position: center;
  cursor: pointer;
  border: 4px solid white;
  background-repeat: no-repeat;
}

#copy {
  position: absolute;
  bottom: 30px;
  right: -3px;
  color: white;
  transform: rotate(-90deg);
}

nav {
  position: fixed;
  padding-top: 15px;
  font-family: medium;
  width: 100vw;
  height: 35px;
  z-index: 100;
  mix-blend-mode: difference;
}

nav a {
  display: inline-block;
  position: fixed;
  left: 50vw;
  transform: translateX(-50%);
  text-decoration: none;
  color: white;
  mix-blend-mode: difference;
}

nav a:first-child {
  left: 2.5vw;
  transform: translateX(0%);
}

nav a:last-child {
  right: 2.5vw;
  left: auto;
  transform: translateX(0%);
}

.hero {
  width: 100vw;
  height: 100vh;
}

main {
  padding: 2.5vw;
  background-image: url(bg-sito.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

main h2 {
  max-width: 50vw;
  font-family: bold;
  font-size: 50px;
  line-height: 1;
  margin-top: 25vh;
}

main p {
  font-size: 50px;
  line-height: 1;
}

.explore {
  float: right;
  font-family: medium;
  font-size: 75px;
  margin-bottom: 100px;
}

.explore img {
  width: 65%;
  float: right;
}

/* FOOTER */
.site-footer {
  background-color: #172424;
  background-color: transparent;
  padding: 45px 0 20px 0;
  margin-top: 200px;
  font-size: 15px;
  line-height: 24px;
  color: white;
}

.site-footer hr {
  background: #172424;
  border: 0;
  opacity: 1;
  height: 2px;
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: #172424;
  font-size: 24px;
  line-height: 1;
  text-transform: lowercase;
  margin-top: 12px;
  margin-bottom: 0;
}

.site-footer a {
  color: #172424;
  font-size: 24px;
line-height: 1;
  padding: 0;
}

.site-footer a:hover {
  text-decoration: underline;
  background-image: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block;
  margin-bottom: 12px;
}

.footer-links a {
  color: #172424;
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  text-decoration: underline;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 30px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: transparent
}

.copyright-text {
  margin: 0
}

.col-md-6 {
  width: 50%;
  margin-right: 1%;
  display: inline-block;
}

.col-md-3 {
  width: 24%;
  display: inline-block;
  vertical-align: top;
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 0px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text, .site-footer .social-icons {
    text-align: left;
    padding-bottom: 20px;
  }

  .social-icons {
    padding-bottom: 50px;
  }

  .col-md-6 {
    width: 100%;
    display: block;
    margin-right: 0;
  }

  .col-md-3 {
    width: 100%;
    display: block;
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #172424;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #172424;
  color: #172424;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
}
